.baseCreateUser {
    background: url(../img/background1.jpg);
    background-size: 1920px 1080px;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.CreateUser {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #726e68;
    width: 850px;
    height: 430px;
    margin: 0px auto;
    margin-top: 13%;
    background: transparent;
    border: 2px solid;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}

.buttonCreateUser {
    margin: 10px 200px;
    border-radius: 0px;
    width: 100px;
    height: 35px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    justify-content: center;
}

.divTxtCreateUser {
    width: 200px;
    float: left;
    text-align: center;
    margin: 20px 0px;
}

.divInputsCreateUser {
    width: 400px;
    float: left;
    text-align: center;
    margin: 20px 50px;
}


.imgLogoCreateUser {
    width: 300px;
    float: left;
    margin: 109px 15px;
    cursor: pointer;
}

.inputCreateUser {
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid;
    border-color: aliceblue;
    position: relative;
    outline: none;
    margin: 5px;
    width: 300px;
    height: 40px;
    font-size: 20px;
    background: transparent;
}

.signIn {
    width: 500px;
    float: left;
    text-align: center;
    margin: 20px 0px;
}

.paragCreateUser {
    margin: 8.5px 0px 20px 0px;
    font-size: 20px;
    color: white;
}

.inputCreateUser {
    color: aliceblue;
}

::placeholder {
    color: aliceblue;
}