.baseLog {
    background: url(../img/background1.jpg);
    background-size: 1920px 1080px;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.LOGIN {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #726e68;
    width: 800px;
    height: 330px;
    margin: 0px auto;
    margin-top: 13%;
    background: transparent;
    border: 2px solid;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}

.buttonLogin {
    border-radius: 0px;
    width: 100px;
    height: 35px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    justify-content: center;
}

.divTxtLogin {
    width: 0px;
    float: left;
    text-align: center;
    margin: 20px 0px;
}

.divInputsLogin {
    width: 300px;
    float: left;
    text-align: center;
    margin: 20px 75px;
}

.imgLogoLogin {
    width: 300px;
    float: left;
    margin: 59px 15px;
    cursor: pointer;
}

.inputLogin {
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid;
    border-color: aliceblue;
    position: relative;
    outline: none;
    margin: 4px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    background: transparent;

}

.login {
    width: 450px;
    float: left;
    text-align: center;
    margin: 20px 0px;
}

.paragLogin {
    margin: 10px 0px 20px 80px;
    font-size: 18px;
    color: white;
    background: transparent;

}

.inputLogin {
    position: relative;
    width: 100%;
}

.inputLogin {
    color: aliceblue;
}

::placeholder {
    color: aliceblue;
}
