.baseProduto{
    background-color: #798aa4;
    width: 100vw;
    height: 100vh;
}

.buttonLogProduto{
    border-radius: 10px;
    padding: 2px;
    width: 60px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    background-color: #413e3e;
    color: #b08d4b;
    cursor: pointer;
    justify-content: right;
}

.buttonSignProduto{
    border-radius: 10px;
    padding: 2px;
    width: 75px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    background-color: #413e3e;
    color: #b08d4b;
    cursor: pointer;
    margin-right: 5px;
    justify-content: right;
}

.divDropdownsProduto{
    margin-right: 120px;
}

.divLogoProduto{
    cursor: pointer;
}

.dropdownProduto{
    margin: 0px 30px;
    position: relative;
    float: left;
}

.headerProduto{
    background-color: #726e68;
    padding-right: 40px;
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgLogoProduto{
    height: 10vh;
    margin: 0vh 1vw 0vh 3vw;
    cursor: pointer;
    margin: 7.5px 0px;
    float: left;
}

.imgNameProduto{
    width: 270px;
    margin: 24.5px 0px;
    float: left;
}

.imgSoppingCart{
    width: 40px;
    height: 40px;
    margin: 0px 20px;
    cursor: pointer;
}

.bodyProduto{
    width: 50%;
    margin: 5% auto;
}

.imgProduto{
  width: 50%;
  float: left;
}

.divInfoProduto{
    width: 50%;
    padding-left: 5%;
    padding-top: 10%;
    float: left;
}

.buttonAddProduto{
    border-radius: 10px;
    margin: 5px 100px;
    width: 200px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    background-color: #413e3e;
    color: #b08d4b;
    cursor: pointer;
    justify-content: center;
}